<script>
    function allowDrop(event) {
    event.preventDefault()
    }
    function drop(event){
        event.preventDefault()
    }
</script>
<h3 class='col-10 offset-5'><%= @game.name %></h3>
<div class='col-10 offset-3'>
    <div class="chessboard">
        <% 7.downto(0) do |y| %>
            <% 0.upto(7) do |x| %>
                <% piece = @game.piece_at(x,y) %>
                <% selected = @piece && piece.id == @piece.id %>
                <% if piece.id %>
                    <div draggable="true" data-x="<%= x %>" data-y="<%= y %>" data-piece-id="<%= piece.id %>" class="<%= selected ? 'highlight' : black_white_cell(x,y) %>" ondragover="allowDrop(event)"><%= show_piece(@game.piece_at(x,y)) %></div>
                <% else %>
                    <div class="<%= selected ? 'highlight' : black_white_cell(x,y) %>" ondrop="drop(event)">X</div>
                <% end %>
            <% end %>
        <% end %>         
    </div>
</div>