<script>
    $(function (){
        $('.draggable').draggable({
            snap: '.droppable',
            snapMode: "outer",
            snapTolerance: 40,
            containment: 'table',
            drag: function( event, ui ){
                window.piece_id = event.target.attributes[1].value
            }
        });
        $( '.droppable' ).droppable({
            drop: function( event, ui ) {

            }
        });
        $( '.droppable' ).on( "drop", function( event, ui ) {
            var x = event.currentTarget.attributes[1].value
            var y = event.currentTarget.attributes[2].value
            var game_id = event.currentTarget.attributes[3].value
                console.log(event.currentTarget)
                console.log(window.piece_id)
            $.ajax({
                url:  + game_id + "/make_move", // Route to the Script Controller method
                    type: "PUT",
                dataType: "json",
                    data: { 
                piece_id: window.piece_id, 
                       x: x,
                       y: y,
                     }, // This goes to Controller in params hash, i.e. params[:file_name]
                complete: function() {},
                 success: function(data, textStatus, xhr) {
                            // Do something with the response here
                            //editor.setValue(data.file_content) // Show the file contents in our editor.
                          },
                   error: function() {
                        revert: true
                            alert("Ajax error!")
                          }
    });
        } );
    });
    
</script>
<h3 class='col-10 offset-5'><%= @game.name %></h3>
<h4 class='col-10 offset-5'>
  It's <%= @game.user_of_current_turn.email %>'s turn.
</h4>

<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">Rage Quit!
</button>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quitModalLabel"><strong>Do you really want to quit?</strong> <br> **This will delete the whole game!!**</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pVD53JffuTI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
      </div>
      <div class="modal-footer"> 
        <%= button_to "Rage Quit!", game_path(@game.id), :method => :delete, :class =>"btn btn-warning" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind.</button>
      </div>
    </div>
  </div>
</div>

<div class="castling-links">
        <%= link_to 'Castle Kingside', game_castle_kingside_path(:game_id => @game.id), method: :patch %>
        <%= link_to 'Castle Queenside', game_castle_queenside_path(:game_id => @game.id), method: :patch %>
</div>

<div class='col-10 offset-3'>
    <div class="chessboard">
        <table>
        <% 7.downto(0) do |y| %>
        <tr class="row">
            <% 0.upto(7) do |x| %>
                <% piece = @game.piece_at(x,y) %>           
                    <td class="droppable <%= black_white_cell(x,y) %>" data-x="<%= x %>" data-y="<%= y %>" data-game_id="<%= @game.id %>">
                <% if piece.id %>
                    <p class="draggable" data-id="<%= piece.id %>"><%= show_piece(piece)%></p>
                <% end %></td>
            <% end %>
        <% end %>         
    </div>
</div>

