<script>
    $(function (){
        $('.draggable').draggable();
        $( '.droppable' ).droppable({
            drop: function( event, ui ) {
                console.log("Dropped line 6")
            }
        });
        $( '.droppable' ).on( "drop", function( event, ui ) {
            console.log("Dropped line 10")
        } );
    });
    
</script>
<h3 class='col-10 offset-5'><%= @game.name %></h3>

<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">Rage Quit!
</button>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quitModalLabel"><strong>Do you really want to quit?</strong> <br> **This will delete the whole game!!**</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pVD53JffuTI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
      </div>
      <div class="modal-footer"> 
        <%= button_to "Rage Quit!", game_path(@game.id), :method => :delete, :class =>"btn btn-warning" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind.</button>
      </div>
    </div>
  </div>
</div>

<div class='col-10 offset-3'>
    <div class="chessboard">
        <% 7.downto(0) do |y| %>
            <% 0.upto(7) do |x| %>
                <% piece = @game.piece_at(x,y) %>
                <% selected = @piece && piece.id == @piece.id %>
                <% if piece.id %>
                    <div draggable="true" data-x="<%= x %>" data-y="<%= y %>" data-piece-id="<%= piece.id %>" class="<%= selected ? 'highlight' : black_white_cell(x,y)%>">
                        <p class="draggable"><%= show_piece(@game.piece_at(x,y))%></p></div>
                <% else %>
                    <div class="droppable <%= selected ? 'highlight' : black_white_cell(x,y) %>"></div>
                <% end %>
            <% end %>
        <% end %>         
    </div>
</div>

